@import "../../node_modules/mapbox-gl/src/css/mapbox-gl.css";

.angular-mapbox-gls {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

.angular-mapbox-marker {
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
    display: block;
}

.angular-mapbox-hidden {
    position: fixed;
    top:-1px;
    left: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}